/*
    Welcome to /r/SUBREDDIT-NAME-HERE 's stylesheet.
   
    COST: Clean - Organized - Simplistic - Theme
    Theme made by /u/titleproblems
    Visit /r/titleproblems for more variants of COST and for more themes and templates!
     
    A copy of this theme can be found at: https://github.com/titleproblems/COST/blob/master/COST_green.css

    Organized CSS Comments to make the code more organized by /u/titleproblems
    Get it yourself! https://github.com/titleproblems/COST/blob/master/Organized%20Reddit%20CSS%20Comments.css
*/
 
/*
COLOR SCHEME
Main: #5abf53
Sub-color: #87e182
Border-color: #228b1c
Background-color: #FFF
/*
 
/* Makes stylesheet nicer */
.stylesheet-customize-container { width: 100%; }
#subreddit_stylesheet { display: block; overflow: hidden; }
.sheets { margin: 0;}
#stylesheet_contents {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    padding:5px;
    background-color:#222;
    color:#ace;
    border:2px solid #222;
    height: 420px;
    font-size: 13px;
}
body.res-nightmode #stylesheet_contents {
    background-color:#111;
    border-color:#111;
    height: 500px;
    font-size: 13px;
}
/* End of stylesheet changes */
     
    /***** Body *****/
    /***** END of Body *****/
     
    /***** Header *****/
 
 
/* login menu WITHOUT RES */
#header-bottom-right {
    position: absolute;
    top: 30px;
    right: 10px;
    bottom: 8px;
    float: right;
    background: transparent;
}
 
/* END of login menu WITHOUT RES */
 
/* login menu WITH RES */
 
#header-bottom-right.res-navTop {
    position: absolute;
    top: 26px;
    right: 10px;
    bottom: 8px;
    float: right;
    background: transparent;
}
 
#userbarToggle.userbarHide {
    display: none;
}
 
/* END of login menu WITH RES */
 
#header-bottom-left {
}
 
#header {
    background-color: #5abf53;
    border-bottom: 1px solid #3a9634;
}
 
#sr-header-area {
    background-color: #87e182;
    border-bottom: 1px solid #3a9634;
}
 
    /***** END of Header *****/
     
    /***** Tabmenu *****/
 
.tabmenu li a {
    background-color: #87e182;
    color: #228b1c;
}
 
    /***** END of Tabmenu *****/
     
    /***** Side *****/
 
.side {
    margin-top: 25px;
    padding-left: 10px;
}
 
.titlebox .md h1 {
    background-color: #5abf53;
    padding: 5px;
    text-align: center;
}
 
.titlebox .md h2 {
    background-color: #87e182;
    padding: 8px;
    color: #000;
}
 
.titlebox .md h3 {
    background-color: #87e182;
    padding: 8px;
    margin-top: 20px;
}
 
.titlebox .md hr {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #87e182;
    color: #87e182;
    border-color: #87e182;
}
 
/* Link bar on top of the page */
.side .md h6 {
    position: absolute;
    top: 60px;
    left: -5px;
    background-color: #FFF;
    color: #5abf53;
    border: 1px solid #87e182;
    border-right: 0px;
    border-left: 0px;
    padding: 1px;
    padding-top: 9px;
    width: 100%;
    text-indent: 130px;
    display: block;
    height: 19px;
    padding-right: 3px;
}
 
.side .md h6 a {
    color: #5abf53;
}
 
.side .md h6 a:hover {
    text-decoration: underline;
}
/* END of Link bar on top of the page */
 
/* Dropdown menu top */
 
.side .md blockquote:last-of-type {
    position: absolute;
    top: 60px;
    left: -2px;
    border: 0 none;
    z-index: 99;
    padding: 2px;
    background-color: #87e182;
    border-radius: 0px;
    border-bottom: 1px solid #87e182;
    font-weight: bold;
    color: #228b1c;
}
 
.side .md blockquote:last-of-type ol {
    list-style: none;
    display: inline-block;
    padding: 3px;
    margin: 0;
}
 
.side .md blockquote:last-of-type ol li { display: none; }
.side .md blockquote:last-of-type ol li:first-child { display: block; text-decoration: none; }
.side .md blockquote:last-of-type ol:hover li { display: block; text-decoration: none }
.side .md blockquote:last-of-type a { color: #228b1c; }
.side .md blockquote:last-of-type a:hover { text-decoration: underline; }
 
/* END of Dropdown menu top */
 
.titlebox blockquote {
    background-color: rgb(246, 230, 159);
    border: 1px solid rgb(255, 165, 0);
    border-radius: 3px;
    padding: 2px;
    padding-left: 5px;
    margin-left: 0px;
}
 
/* Submit links */
 
.morelink {
    background-color: #5abf53;
    background-image: none;
    border: 1px solid #228b1c;
}
 
.morelink:hover {
    background-image: none;
    background-color: #65cc5e;
    border: 1px solid #228b1c;
    text-shadow: 1px 1px 5px #8b5eef;
}
 
.morelink a {
    color: #228b1c;
}
 
.morelink .nub {
    display: none;
}
 
/* END of Submit links */
 
#search input[type="text"] {
    color: #87e182;
    border: 0px solid #8ebeef;
    z-index: 6;
    position: absolute;
    top: 67px;
    float: right;
    font-size: 14px;
    text-align: right;
}
 
 
 
/* Flair selection */
.titlebox form.flairtoggle {
    background-color: #87e182;
    border: 1px solid #87e182;
    color: #228b1c;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    width: 280px;
    margin: 0 auto;
    margin-top: 10px;
}
 
.titlebox .tagline {
    border: 1px solid #87e182;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    width: 280px;
    margin: 0 auto;
    margin-bottom: 20px;
}
/* END of Flair selection */
 
    /***** END of Side *****/
     
    /***** Content *****/
 
.content {
    margin-top: 30px;
}
 
.link {
    padding-bottom: 5px;
    border-bottom: 1px solid #87e182;
}
 
.entry .buttons li a {
    color: #5abf53;
    font-weight: normal;
}
 
.entry .buttons li a.flairselectbtn {
    font-weight: bold;
}
 
.report-button:hover:after {
    position: absolute;
    white-space: normal;
    display: block;
    z-index: 1000;
    width: 350px;
    padding: 5px;
    border: 0px solid #333;
    background: #fca;
    content: "Please also message the moderators a link and reason why you are reporting this, thanks. ";
    text-align: center;
    font-size: 10px;
    color: red;
    margin-left: 25px;
    margin-top: 5px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px
}
 
.linkinfo {
    background-color: #87e182;
    border: 1px solid #5abf53;
    border-radius: 0px;
}
 
    /***** END of Content *****/
     
    /***** RES Stuff *****/
 
/* RES post highlight */
 
.res .RES-keyNav-activeElement,
.res .commentarea .RES-keyNav-activeElement .md,
.res .commentarea .RES-keyNav-activeElement.entry .noncollapsed,
.res .keyHighlight,
.res .commentarea .keyHighlight .md,
.res .commentarea .keyHighlight.entry .noncollapsed {
    outline: 0px solid!important;
    background: none;
    border-right: 3px solid #5abf53;
}
 
/* END of RES post highlight */
 
    /***** END of RES Stuff *****/
     
    /***** Link Flair Stuff *****/
 
.linkflair-flair .linkflairlabel {
    text-transform: uppercase;
    color: #5abf53;
    background: none;
    border: 0px;
}
 
    /***** END of Link Flair Stuff *****/
     
    /***** User Flair Stuff *****/
    /***** End of User Flair Stuff *****/
     
    /***** Other *****/
    /***** END of Other *****/

